:root {
  --primary-color: #212121;
  --secondary-color: #757575;
}

body {
  font-family: ‚Roboto’, sans-serif;
}

/*Header*/

header a:hover,
header a:focus {
  color: #2196f3;
}

footer a:hover,
footer a:focus {
  color: #2196f3;
}

.contact a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--secondary-color, grey);
}

.contact-tel {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav-menu a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--primary-color, black);
}

/*WebStudio*/

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
}
.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

/*Menu*/

.section-list-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*Menu-all*/

ul {
  list-style-type: none;
}

.section-h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: var(--primary-color, black);
}

.section-h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
  color: var(--secondary-color, grey);
}

/*Footer*/

footer {
  background: #2f303a;
}

footer .logo-web:hover,
footer .logo-studio-footer:focus {
  color: #2196f3;
}
.logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
}

.adres {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: rgba(255, 255, 255, 0.6);
}

.contact-tel-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.logo-studio-footer {
  color: #ffffff;
}

.logo-studio-footer:hover,
.logo-studio-footer:focus {
  color: #2196f3;
}

/*index*/

.section-main {
  background: #2f303a;
}

.section-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.section-li {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-color, black);
}

.section-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--secondary-color, grey);
}

.section-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color, black);
}

.section-john {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: var(--primary-color, black);
}

.section-function {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: var(--secondary-color, grey);
}
