:root {
  --primary-color: #212121;
  --secondary-color: #757575;
}

body {
  font-family: ‚Roboto’, sans-serif;
}

.navbar a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--secondary-color, grey);
}

.navbar .navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--primary-color, black);
}

/*WebStudio*/

.navbar .logo {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
}
.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

ul {
  list-style-type: none;
}
